
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root{
    --back: rgba(253, 253, 255, 0.74);
  }

#principal {
    border-radius: 10px;
    width: 95vw;
    padding: 10px 10px;
    text-align: center;
    background: #ffffff86;
    background-size: 95vw;
    margin: auto;
    margin-top: 2%;
    
}

    /* Imagem dos projetos front end */
.projeto1{
    width: 300px;
    border-radius: 5px;
    box-shadow:  8px 8px 16px #2525209d;
    
}

h1 {
    text-align: center;
    color: #000000;
}

body {
    background-image: url(https://mundoconectado.com.br/uploads/chamadas/capa-programacao.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-attachment: fixed;
    margin-bottom: 50px;
 
}

#font {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}
.back{
    background-color: #ffffff49;
    border-radius: 8px;
    background-size: auto;
    box-shadow:  2px 2px 25px #f2fc9ec7;
  
  }

#container{
    display: flex;
    margin-top: 2%;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: row;
    flex-flow: row; 
    gap: 20px;
    
    
}

#backend {
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    background-color: var(--back);
    width: 30%;
    height: auto;
    text-align: center;
}
/* estilização do aba front end */
#frontend {
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    background-color: var(--back);
    width: 30%;
    height: auto;
    text-align: center;
    margin-left: 45px;
    padding-bottom: 10px;
}

.descricao{
    font-size: 20px;
font-weight: bold;
}

#mid{
    border-radius: 10px;

    background-color: var(--back);
    width: 30%;
    height: auto;
    text-align: center;
  

}
a{
    text-decoration: none;
    font-size: 20px;
    color: #3d2e2e;
}

a:hover {
    background: #FFF;
     color: black;
}
ul li {
    text-decoration: none;
    list-style:none;
}

.projeto1:hover{
    width: 350px;
    border-radius: 5px;
    box-shadow:  8px 8px 16px #2525209d;
}